/* folha de estilo especifica para primefaces */

.ui-autocomplete-token{
    
    background: none !important;
    color: #265A88 !important;
    
}

.ui-autocomplete-multiple{
    
    
}

.ui-autocomplete-multiple input{
    height: 140px;
    vertical-align: top;

}

.ui-autocomplete-input-token input {
    width: 100% !important;
    
}